// =================================
//   CARD - Goal
// =================================

.card-goal {
  height: 100%;
  border-radius: 1rem;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1.5rem 1.5rem 2rem;
    text-align: center;
  }

  &__number {
    @include title($size: 3rem, $color: $text-accent);
    line-height: 1.1;
    margin-bottom: 0;
  }

  &__title {
    @include subtitle($size: 1.35rem);
    margin-bottom: 0;
  }

  &__text {
    @include text();
    margin-bottom: 0;
  }
}
